<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Milestone Planner</display-name>

    <welcome-file-list>
        <welcome-file>indexsignup.jsp</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>accessFiles</servlet-name>
        <url-pattern>/views/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accessFiles</servlet-name>
        <servlet-class>webapp.MilestoneServlet</servlet-class>
    </servlet>


</web-app>